{% extends 'master_detail/base.html' %}

{% block title %}Uredi računalo{% endblock %}
{% load bootstrap4 %}

{% block content %}
    <h1>Pregled računala</h1>
    <form method="post" class="mt-3">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">Spremi</button>
        <a href="{% url 'computer_delete' computer.pk %}" class="btn btn-danger">Obriši</a>
        <a href="{% url 'computer_list' %}" class="btn btn-secondary">Nazad</a>
    </form>

    <hr>
    <h2>Komponente</h2>
    <table class="table mt-3">
        <thead>
            <tr>
                <th>Naziv</th>
                <th>Tip komponente</th>
                <th>Opcije</th>
            </tr>
        </thead>
        <tbody>
            {% for component in computer.components.all %}
                <tr>
                    <td>{{ component.name }}</td>
                    <td>{{ component.get_component_type_display }}</td>
                    <td>
                        <a href="{% url 'component_edit' component.pk %}" class="btn btn-sm btn-primary">Uredi</a>
                        <a href="{% url 'component_delete' component.pk %}" class="btn btn-sm btn-danger">Obriši</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">Nema dostupnih komponenti</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'component_create' computer.pk %}" class="btn btn-primary">Dodaj komponentu</a>
{% endblock %}
